<div class="side-bar-header">
  <div class="header-name">
    <a href="#">Taka</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-search">
</div>

<div class="rooms">
  <div class="room-name">
    <a href="#">Examination room1</a>
  </div>
  <div class="room-name">
    <a href="#">Examination room2</a>
  </div>
</div>