<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="rooms/new">診察室の作成</a>
  </div>
</div>

<div class="side-search">
</div>

<div class="rooms">
  <div class="room-name">
    <a href="#">診察室1</a>
  </div>
  <div class="room-name">
    <a href="#">診察室2</a>
  </div>
</div>