<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to "診察室の作成", new_room_path %>
  </div>
</div>

<div class="side-search">
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
      <div class="room-name">
        <a href="#"><%= room.room_name %></a>
      </div>
  <% end %>
</div>