<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to "診察室の作成", new_room_path %>
  </div>
</div>

<div class="side-symptom-create">
  <div class="symptom-create-btn">
    <%= link_to "カルテ記入ページ", new_symptom_path %>
  </div>
  <div class="create-message">
    <span class="red">※</span>初診、再診の方は記入お願い致します<span class="red">※</span>
  </div>
</div>
  

<div class="rooms">
  <% current_user.rooms.each do |room| %>
      <div class="room-name">
        <%= link_to room.room_name, room_messages_path(room) %>
      </div>
  <% end %>
</div>