<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to "診察室の作成", new_room_path %>
  </div>
</div>

<div class="side-symptom-create">
  <div class="symptom-create-btn">
    <%= link_to "カルテ編集", new_symptom_path %>
  </div>
  <div class="create-message">
    <span class="red">※</span>症状の変更時はご記入ください。<span class="red">※</span>
  </div>
</div>
  

<div class="rooms">
<%#if current_user? もしくはuser_sign_up?%>
  <% current_user.rooms.each do |room| %>
      <div class="room-name">
        <%#= link_to room.room_name, room_messages_path(room) %>
      </div>
  <% end %>
</div>

<%#if current.doctor?もしくはdoctor_sign_up?%>
<%# current_user.rooms.each do |room| %>
      <div class="room-name">
      ここにドクターの部屋を表示条件分枝させる。
        <%#= link_to room.room_name, room_messages_path(room) %>
      </div>
  <%# end %>
