<div class="wrapper">
  <div class="side-bar">
    <%= render "left_side_bar" %>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
  <div class="right-side-bar">
    <%= render "right_side_bar"%>
  </div>
</div>

