.field-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
  width: 100%;
}

.field {
  padding: 10px;
}

.sessions-field {
  width: 380px;
  height: 48px;
  font-size: 16px;
  border: solid gray 1px;
  padding-left: 15px;
}

.actions-field {
  width: 380px;
  height: 48px;
  font-size: 16px;
  border: solid gray 1px;
}

.sns-form-face {
  width: 380px;
  margin: 20px;
  padding: 10px;
  border: solid gray 1px;
  text-align: center;
  font-size: 22px;
  background-color: royalblue;
}

.sns-form-google {
  width: 380px;
  margin: 20px;
  padding: 10px;
  border: solid gray 1px;
  text-align: center;
  font-size: 22px;
  background-color: tomato;
}
.facebook-field {
  text-decoration: none;
  color: white;
}

.google-field {
  text-decoration: none;
  color: white;
}

.registrations-field {
  width: 380px;
  height: 48px;
  font-size: 16px;
  border: solid gray 1px;
  padding-left: 15px;
}

.signup,.login,.account {
  font-size: 25px
}

.edit-field {
  width: 380px;
  height: 48px;
  font-size: 16px;
  border: solid gray 1px;
  padding-left: 15px;
}

.sign-up-btn {
  margin-top: 50px;
}

.doctor-info {
  font-size: 25px;
}

.doctor-links{
  width: 380px;
  height: 55px;
  font-size: 16px;
  text-align: center;
  border: solid grey 1px;
  margin: 10px 0;
  background-color: turquoise;
  padding-top: 9px;
  
}